usr/bin/docker_dart
usr/share/docker_dart
usr/local/bin/docker_dart
usr/local/share/docker_dart
*.exe
*.deb
*.sqlite-*
*.sqlite
docs/canvaskit
*/canvaskit
.dart_tool/
/build/
generate_glx_*
node_modules/
build/
ephemeral/
flutter/ephemeral
android/.gradle
android/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/ephemeral
tmp/
temp/
generate_general_private_tools_*